
{% extends '::intermedio.html.twig' %}
{% block title %} Portada {% endblock %}
{% block id 'portada' %}
{% block article %} 
    <section class="description">
        <h1><a href="#">##NOMBRE DEL CONGRESO##</a></h1>
                    ##DESCRIPCION DEL CONGRESO##
        <a class="boton" href="#">|Mas informacion</a>
    </section>
{% endblock %}
{% block aside %} ##FORMULARIO LOGIN## {% endblock %}