<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | UGRCongress</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block id '' %}"><div id="contenedor">
        {% block body %}{% endblock %}
            
            <footer>
                <a href="{{ path('pagina_estatica',{'pagina':'contacto'}) }}">
                    Contacto 
                </a>
                 |
                <a href="{{ path('pagina_estatica', { 'pagina': 'sobrenosotros' })}}">
                     Sobre nosotros
                </a>
            </footer>
        {% block javascripts %}{% endblock %}
    </div></body>
</html>
