
{% extends '::base.html.twig' %}
{% block stylesheets %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block body %}
<header>
    <h1><a href="{{ path('portada') }}">UGRCongress</a></h1>
    <nav>
        <ul>
            <li><a href="{{path('portada')}}"> Congreso actual! </li>
        </ul>
    </nav>
</header>
<article>
    {% block article %}{% endblock %}
</article>
<aside>
    {% block aside %}{% endblock %}
</aside>
{% endblock %}